:host {
  display: inline-block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

.battery-low {
  width: 20px;
  height: 14px;
  background: rgb(218, 99, 20);
}

.battery-medium {
  width: 20px;
  height: 14px;
  background: rgb(199, 241, 82);
}

.battery-high {
  width: 20px;
  height: 14px;
  background: rgb(42, 223, 81);
}

.battery-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80px;
  height: 30px;
  border-color: #81fc81 solid;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px;
}